@charset "UTF-8";

body {
	background-image:url(../pics/applause1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #39476B;
	}
	
/*kategorinamnen på kategorisidan + bakgrundsfärg */	
	#namecategory {background-color:#;}
	#namecategory h2 { color:#000000;}

/* Bilderna i headern, alla sidorna  */
.header-title{
    font-family: 'Source Code Pro', monospace;
	color: black;
    font-size: 30px;
    text-align: center;
	}

    
#header-title-object { 
	background-image:url(../pics/applause1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	}

#header-title-rest {
    background-image:url(../pics/food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	}

#header-title-aktiviteter {
    background-image:url(../pics/bowling.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	}

#header-title-shop {
     background-image:url(../pics/shop.jpg);
     background-size: cover;
     background-repeat: no-repeat;
	}

#header-title-club {
    background-image:url(../pics/club.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	}

#header-title-hotel {
    background-image:url(../pics/hotel.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	}


#header-title-culture {
    background-image:url(../pics/culture.jpg);
	}
    
/* ändringar av logotypen*/
#logotyp {padding-top:4%;}
#logobjekt {padding-bottom:3%;}
        
/* navigering på startsida*/
#navstartsida {
	padding-top: 2%;
	text-align: center;
	}

#navstartsida ul {
	list-style: none;
    font-family: 'Quicksand', sans-serif;}
                  
#navstartsida ul li {position: relative;}
           
#navstartsida a {
	color: #FFF8F0;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif; }

/* för att ändra iconerna + text i navigeringen*/
.nav-box {
    display:inline-block;
    width:12%;
	text-align: center;
	}
	
.nav-boxStart {
    display:inline-block;
    width:12%;
	}    

.nav-box-icon {
	font-family: 'Quicksand', sans-serif; display: table-caption;
    color: #d6d6d6; cursor: pointer; 
    margin-bottom:0px;
	}
    
.nav-box-icon i:active {color: #434535;}
.nav-box-icon i:hover {color: #434535;}
.nav-box-icon i:visited {color: #434535;}

/* för att flytta infon i main på objektsidan */

#info-box-left {float: left; width: 33%;}

#info-box-center {
	/*float: left;
	width: 33%;*/
	position:absolute;
	width:100%;
	}
	
#info-box-center-content {
	width:33%;
	margin-left: 33%;
}
	
#info-box-center img {max-width: 100%;}

#info-box-right {float: right; width: 33%;}

.clear {clear: both;}

.info-content-left {
	padding-top: 5%;
	padding-bottom: 10%;
	}

.info-content-center {
	padding-top: 5%;
	padding-bottom: 15%;
	width:5px;
	}

.info-content-right {
	padding-top: 5%;
	padding-bottom: 15%;
	}
	
.info-content-right p {
	padding-left: 16%;
	padding-right: 16%;
	text-align: left;
}

#infoShort {
	padding-bottom:1%;
}

#infoOpen {
	padding-bottom: 1%;
}

#infoRating {
	padding-bottom: 1%;
}
	
#infoSave {
	padding-bottom: 1%;
}
	
#infoMap {
	padding-bottom: 1%;
}

/*För att ändra saker kring dropmenyn välja stad + kategori när den responsiva designen börjar.*/
                           
.dropbtn {
	color: white;
    margin-bottom:2%;
    background-color:#000;
    opacity: 0.85;
    font-size:20px;
    border: none;
    cursor: pointer; 
   /* text-align: center; */
    display: table-caption;
    font-family: 'Quicksand', sans-serif;
	}

#myInput {
	background-position: 14px 12px;
    background-repeat: no-repeat; 
    font-size: 15px;
    padding: 10px 0px 10px 36px;
    border: none;
    border-bottom: 1px solid #ddd;
	}

#myDropdown {}

.dropdown {
	margin: 0px;
    position: relative; 
    display: inline-block;
	
}

.dropdown-content {
	margin-top:0px;
    display: none;
    position: absolute;
    background-color: #65779F;
	opacity: 0.95;
	height: 500%;
    overflow: auto;
    
    border: 1px solid #ddd;
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
	}

.dropdown-content a {
    color: black;
	font-size:15px;
    padding: 12px 16px; 
    text-decoration: none;
    display: block;}

.dropdown a:hover {
	background-color: #ddd;
	}

.show {
	display:block;
	}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #838383; 
}

::-webkit-scrollbar-thumb:hover {
    background: #646464; 
}

/*för att ändra saker kring logga med mera på startsidan*/
#startheader {
	text-align: center;

	font-family: 'Source Code Pro', monospace;
	color: #000;
    }
			  

			  
/* Kategorisidan + objektsidan, sorteringen, navigering, hjärtat i navigering */
			  
main {
	background-color: #FFFFFF;
	margin: auto;
	padding: 5px;
	margin-top: 9px;
	width: 98%;
	} 

#filtering {
	padding-bottom: 10px;
	padding-left:2%;
	font-family: 'Quicksand', sans-serif;}
            
					  
#navCategories {
	padding-bottom: 8px;
	width:100%;
	padding-top:12px;
	list-style: none;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	margin: auto;
	background-color: #000;
	}

#navCategories a {
	text-decoration: none;
	font-size: 13px;
	font-family: 'Quicksand', sans-serif;
	color:white;
}

#navCategories .icon { 
	display: inline;
}

#navHeart {
	position: absolute;
	margin-left:87%;
    font-size:20px;
	cursor: pointer;
	}

#navHeart i {
	position:absolute;
	top:15px;
	color: #F66;
	}
	
.navbar {
	display: none;
	}
    
#navMenu {
	visibility: hidden;
	}

/* Kategorisidan, karta och lista med alla objekt */
		   
#map {
	background-color: #FFF;
	margin: auto;
	margin-top: 10px;
	width: 98%;
	height: 300px;
	border: 3px solid #ddd;
	} 
						   
#scrollList {
	background-color: #ffffff;
	overflow:  auto;
    white-space: nowrap;
	height: 370px;
	font-family: 'Quicksand', sans-serif;
    margin-top: 0px;
	margin-left: 20px; 
	margin-right: 20px;
	}
    
#scrollUl img {
	height:150px;
	width:230px;
	}

	
#scrollList ul li {
	display: inline-block;
} 	

.objektList {
	width: 250px; 
	height: 300px;
    border: 1px solid #ddd;
	background-color:; 
	margin: 10px;
	padding: 10px;
}

.objektList p {
	font-size: 12px;}

.objektList h2 {
	font-size:16px;
}
		  
/* Objektsidan */

#information {
	border: 3px solid #ddd;
	position: relative;
	}

#objekt {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px;
	}
		
#mapObjekt {
	display: none;
	background-color: #d4d4d4;
	margin-top: 110px;
	padding: 10px;
	margin-left:40px;
	width:60%;
	height:60%;
	position:absolute;
	z-index: 1;
	}
	  
#objekt h1 {
	text-align: center; 
	}
		
/* Footer  */
				   					   
footer {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	margin-top:10px;
	}	
	
/* Sparade objekt */	

#myDIV {
	display: none;
	}

#popupObjekts {
	background-color: #FFF;
	position: absolute;
	opacity: 0.9;
	z-index: 1;
	width: 100%;
	height: 50%;
	padding: 10px; 
	overflow: scroll;
	float: right; 
	font-family: 'Quicksand', sans-serif;
}

#popupObjekts ul li {
	display: inline;
	} 	

#popupObjekts h1 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	text-align: center;
	}	
	
.savedObjekt {
	width: 90%; 
	height: 20%;
	background-color: #FFF; 
	padding: 10px;
	margin: 10px;
	}	
		
.savedObjekt h2 {
	font-size: 15px;
	}

/* Responsiv design */	
@media screen and (max-width: 1000px) {

/*scroll objektlistan*/
	#scrollList {
		height: 310px;
		font-family: 'Quicksand', sans-serif;
		margin-top: 0px;
		margin-left: 20px; 
		margin-right: 20px;
   }
 
 /* objektbilden*/   
    #scrollUl img {
		height:120px;
		width:190px;
		}
    
 /* listan med objekten*/   
    .objektList {
		width: 200px; 
		height: 250px;
		margin: 5px;
		padding: 5px;
		}
   
/* text i listan för objekten*/    
    .objektList p {
		font-size: 10px;
		}

    .objektList h2 {
		font-size:14px;
		}	
}

/* Responsiv design */	
@media screen and (max-width: 850px) {

    #navstartsida {text-align: center; }
    #navstartsida a { text-align: center;}

/*scroll objektlistan*/
	#scrollList {
		height: 260px;
		font-family: 'Quicksand', sans-serif;
		margin-top: 0px;
		margin-left: 20px; 
		margin-right: 20px;
   }
 
 /* objektbilden*/   
    #scrollUl img {
		height:100px;
		width:140px;
		}
    
 /* listan med objekten*/   
    .objektList {
		width: 150px; 
		height: 200px;
		margin: 5px;
		padding: 5px;
		}
   
/* text i listan för objekten*/    
    .objektList p {
		font-size: 8px;
		}

    .objektList h2 {
		font-size:10px;
		}
}

@media screen and (max-width: 650px) {
	
	/*popup spara*/ 
	#popupObjekts h1 { 
	font-size: 20px;
	}
	
}

@media screen and (max-width: 750px) {
	/*navigeringen*/

	.dropbtn {margin-left:0%;}
    
	.nav-box {visibility: hidden;}
	
	.nav-boxStart {visibility: hidden;}
	
    #navMenu {visibility: visible;
	display: inline;}
  
    .dropbtn2 {
		font-size:50px;
		
		padding-left: 20px;
		cursor: pointer;
		border: none;
		color:white;
		background-color:transparent;
		}
	
    #navHeart {display: inline;
	font-size:30px;
	margin-left:80%;
	padding:10px;}  
	
    .dropdown-content {
		width:150px;
		height:240px;
		margin:0px;
	}
    
	/*logga + bilder*/
    #logotyp img { height:250px;
                   width:200px;}
                   
    #startheader img { height:250px;
                   width:200px;}

/* objektlistan*/
    #scrollList {
	height: 210px;
	font-family: 'Quicksand', sans-serif;
    margin-top: 0px;
	margin-left: 10px; 
	margin-right: 10px;
   }
 
 /* objektbilden*/   
    #scrollUl img {height:60px; width:90px; }
    
 /* listan med objekten*/   
    .objektList {width: 100px; 
	height: 150px;

	margin: 5px;
	padding: 5px; }
    
/* text i listan för objekten*/    
    .objektList p {font-size: 6px;}

    .objektList h2 {font-size:6px;}
	
	#menuDropdown { 
		width: 500%;
		height: 250px;
		margin-top:-125%;
		margin-left:150%;
		overflow:auto;
	}
	
	#myDropdown {
		width:200px;
	}
	
	#info-box-center {
		position: relative;
	}
	
	#info-box-center-content {
		width: 100%;
		margin-left: 0;
	}
	
	#info-box-left {width:50%;}
	
	#info-box-right {width:50%;}
 }
 
 @media screen and (max-width: 400px) {
	
	.dropbtn2 {
		
		padding-left: 0px;
	
		}
	
	#information {
		padding:10px;
		font-size:10px;
	}
	
	#mapObjekt {
		width:50%;
		height:50%;
	}
 }